body {
    font-family: Arial, Sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(161, 159, 159);
    background-image: url("https://images.unsplash.com/photo-1543248939-4296e1fea89b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJvb2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
}
header {
    background-color:rgba(128, 128, 128, 0.8);
    padding: 0;
    text-align:  right;
}

.header {
    color: rgb(14, 66, 70) ;
    position: absolute;
    left: 2px;
    top: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
}

#body {
    background-color:rgba(128, 128, 128, 0.8);
    width: 100px;
    height: 40px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
}

#home-section {
    margin-top: 6rem;

}
a:hover{
    color: rgb(14, 66, 70);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;

}

main {
    padding: 20px;
    background-color:rgba(128, 128, 128, 0.6);
}
.book-list{
    list-style-type: none;
    padding: 0;
}

.book-list li {
margin-bottom: 10px;
}

 button  {
    background-color: #333;
    color: beige;
    border-radius: 6px;
    position: relative;
    left: 40px;
}

button:hover {
    color: goldenrod;
  }


  input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-size: 20px;
    width: 40%;
    height: 30px;
  }

  footer {
    position: relative;
    top: 400px;
    left: 15px;
  }

  .contact {
    font-size: 20px;
    position: relative;
    top: 90px;
    background-color: rgba(187, 181, 181, 0.8)

  }

  .book-list {
    background-color: rgba(95, 93, 93, 0.8);
    color: goldenrod;
    width: 30%;
    height: 30px;
  }
  .remove-button {
    background-color: rgb(29, 28, 28);
    color: rgb(223, 103, 34);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 100px;
  }
  
  .remove-button:hover {
    background-color: rgb(58, 114, 179);
  }