body {
    font-family: Arial, Sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(161, 159, 159);
}
header {
    background-color: #333;
    padding: 0;
    text-align:  right;
}

h1, p {
    text-align: center;
    
}

#home-section {
    margin-top: 6rem;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;

}

main {
    padding: 20px;
}
.book-list{
    list-style-type: none;
    padding: 0;
}

.book-list li {
margin-bottom: 10px;
}

button {
    background-color: #333;
    color: beige;
}